<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.andtv.flicknplay.workdetail"
    tools:ignore="MissingLeanbackLauncher">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application>

        <activity
            android:name="com.andtv.flicknplay.workdetail.presentation.ui.activity.PlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="com.andtv.flicknplay.workdetail.presentation.ui.activity.WorkDetailsActivity"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="@string/host_workdetail"
                    android:scheme="@string/schema" />
            </intent-filter>
        </activity>
    </application>

</manifest>